<html>
    <head>
         <meta charset="UTF-8" />
        <title>BlueBank</title>
        <link rel="shortcut icon" href="/_imagens/favicon.png"/>
        <link rel="stylesheet" href="_css/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   		
   		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   		
   		<script src="/_js/login.js" type="text/javascript"></script>
  		<script src="/_js/home.js" type="text/javascript"></script>
    </head>
    <body>
                  
        <nav class="navbar navbar-expand-md navbar-light bg-light">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="home.html">HOME</a>
                        </li>                  

                         <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              SERVIÇOS
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="transferencia.html">Transferêcia</a>

                              <a class="dropdown-item" href="extrato.html">Extrato</a>
                            </div>

                            <li class="nav-item">
                                 <a class="nav-link" href="/public/login" onclick="logout()">SAIR</a>
                            </li>
                    </ul>
                </div>
                <div class="mx-auto order-0">
                    <a class="navbar-brand mx-auto" href="home.html"><img src="/_imagens/logo.png" height="100" class="d-inline-block align-top " alt="Logo do sistema"></a>
                    <button class="navbar-toggler float-right mt-5" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Olá <span id="displayName"></span>, Bom dia!</a>
                        </li>
                    </ul>
                </div>
            </nav>
        <div class="container mt-4">
            
            <div class="card">
              <div class="card-header text-center">
                Selecione a conta em que deseja utilizar os serviços:
              </div>
                  <div class="card-body ">
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="contaPoupanca" onclick="selecionarConta()" name="contaPoupanca" >
                  <label class="custom-control-label" for="contaPoupanca">Conta Poupança</label>
                </div>
                
                 <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" id="contaCorrente" onclick="selecionarConta()" name="contaCorrente" >
                  <label class="custom-control-label" for="contaCorrente">Conta Corrente</label>
                </div>
                      
                </div>
            </div>
            
            <div class="card mt-4">
              <div class="card-header text-center">
                Saldo:
              </div>
                  <div class="card-body">
                    <h5 class="card-title text-center text-success"><strong>R$ <span id="saldo" ></span></strong></h5>
                </div>
            </div>
            
            <div class="card mt-4">
                  <div class="card-header text-center">
                    Meus Dados
                  </div>
                  <div class="card-body ">
                    <div class="form-group col-md-8 offset-md-2">
                        <div class="custom-control custom-radio">
                           <strong>Titular: </strong> <span id="titular"></span>                            
                        </div>
                    
                        <div class="custom-control custom-radio">
                           <strong >E-mail: </strong> <span id="email" ></span>
                        </div>
                        
                        <div class="custom-control custom-radio">
                            <strong>CPF: </strong><span id="cpf" ></span>
                        </div>
                       <div class="form-group text-center">
                       <input class="btn btn-primary" type="submit" value="Alterar" onclick="alterarCadastro()"  />
                    </div>                         
                    </div>                      
                </div>
            </div>
            
             <div class="card mt-4">
                  <div class="card-header text-center">
                    Dados da Conta
                  </div>
                  <div class="card-body ">
                    <div class="form-group col-md-8 offset-md-2">
                        <div class="custom-control custom-radio">
                            <strong>Poupança: </strong><span id="poupanca" ></span>                            
                        </div>
                    
                        <div class="custom-control custom-radio">
                           	<strong>Corrente: </strong> <span id="corrente" ></span>                            
                        </div>                         
                    </div>                      
                </div>
            </div>
            
        </div>
        
     <div class="navbar fixed-bottom footer-light bg-dark d-flex justify-content-center" href="#">
            <span class="text-muted" >Copyright © 2020 | Danilo Azevedo | Projeto realizado para estudos | Instituição: <a  class="text-info" href="https://www.softblue.com.br/">Softblue</a></span>
    </div>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>