<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <title>BlueBank</title>
        <link rel="shortcut icon" href="/_imagens/favicon.png"/>
        <link rel="stylesheet" href="/_css/style.css" />
        <script src="/_js/validator.js" type="text/javascript"></script>   
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
        
        <script src="/_js/mask.js" type="text/javascript"></script>
        <script src="/_js/login.js" type="text/javascript"></script>
        
    </head>
    
    <body>
        
                       
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            
            <div class="mx-auto order-0">
                <a class="navbar-brand mx-auto" href="#"><img src="/_imagens/logo.png" height="100" class="d-inline-block align-top " alt="Logo do sistema"></a>
            </div>
        </nav>  
           
            <p class="h4 text-center mt-4">Seja bem vindo(a) ao BlueBank!</p>
        
        <div class="container">            
            <div class="mt-4">
            
                <form method="" action="" onsubmit="login(this)" class="validator" novalidate>

                    <div class="form-group  col-md-8 offset-md-2">
                        <label for="email">E-mail:</label>
                        <input class="form-control" type="email" id= "email" name="email" min="0" placeholder="Informe o seu E-mail" required/>   
                        <div class="invalid-feedback">
                            <p>O Email deve ser informado!</p>
                        </div>                        
                    </div>
                    
                     <div class="form-group col-md-8 offset-md-2">
                        <label for="senha">Senha:</label>
                        <input class="form-control" type="password" id= "senha" name="senha" placeholder="Informe a senha" required/>  
                        <div class="invalid-feedback">
                            <p>A senha deve ser informada!</p>
                        </div>
                    </div>
                    
                     <div class="form-group text-center">
                       <input class="btn btn-primary" type="submit" value="Acessar"  />
                    </div>               

                </form>
                
            </div>
                
                <div class="form-group text-center">
                    <a  href="nova-conta"><input class="btn btn-primary" type="button" value="Criar uma nova conta" /> </a>                
                </div>
            
                <div class="form-group text-center">
                    <a href="senha-recuperacao">Esqueceu a senha?</a>
                </div>
        </div>
        
        <div class="navbar fixed-bottom footer-light bg-dark d-flex justify-content-center" href="#">
            <span class="text-muted" >Copyright © 2020 | Danilo Azevedo | Projeto realizado para estudos | Instituição: <a  class="text-info" href="https://www.softblue.com.br/">Softblue</a></span>
        </div> 
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>